@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital@0;1&family=Lato:ital,wght@0,700;1,700&family=Playpen+Sans:wght@400;700&display=swap');



:root {
  /* Colors */
  --body-bgc: rgba(7, 56, 233, 1);
  --body-font-color: rgba(19, 31, 32, .85);
  --container-bg: rgba(255, 255, 255, 1);
  --input-bg: rgba(158, 203, 207, 0.75);
  --btn-bg: rgba(94, 156, 161, .85);
  /* Colors */
  /* ------------------------------------------ */
  /* Dimensions */
  --container-width: 45rem;
  --container-height: 55rem ;
  --borders: .3rem solid #2b2b2b;
  --bdrs: .5rem;
  /* Dimensions */
  /* ------------------------------------------ */
  /* Effects */
  --box-shadow: 0 .4rem .8rem rgba(0, 0, 0, .3);
  --text-shadow: 0 .4rem .8rem rgba(0, 0, 0, .3);
  --btn-hover: rgba(19, 31, 32, .7);
  --btn-scale: scale(1.1);
  /* Effects */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100vh;
  font-size: 62.5%;
}

body {
  height: 100%;
  background: var(--body-bgc);
  font-size: 1.8rem;
  color: var(--body-font-color);
  font-family: 'Playpen Sans', cursive;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}


.main-heading {
  font-size: 2em;
}

.main-heading, 
.score,
.calculation {
  text-shadow: var(--text-shadow);
}

.form, 
input, 
.btn {
  box-shadow: var(--box-shadow);
}

.form {
  width: var(--container-width);
  height: var(--container-height);
  border-radius: var(--bdrs);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--container-bg);
  position: relative;
  padding: 2rem;
}

input {
  display: block;
  background-color: var(--input-bg);
  outline: none;
  border: none;
  width: 40rem;
  height: 5rem;
  text-align: center;
  border-radius: var(--bdrs);
}

.btn {
  background-color: var(--body-font-color);
  color: antiquewhite;
  outline: none;
  border: none;
  width: 30rem;
  height: 5rem;
  border-radius: var(--bdrs);
  margin: 0 auto;
  text-transform: uppercase;
}

.main-heading {
  width: 90%;
  text-align: center;
  height: auto;
  padding: 1rem;
}

.score {
  width: 90%;
  text-align: center;
  height: auto;
  padding: 1rem;
  margin: 1rem ;
}

.calculation {
  width: auto;
  margin: 1rem;
  padding: 1rem;
}

/* Effets */

.btn:hover{
 background-color: var(--btn-hover); 
 transform: var(--btn-scale);
 cursor: pointer;
}

input:focus {
  border: .2rem solid rgba(64, 64, 64, .5);
}

/* Effects */
